services:
  api:
    build:
      context: .
      target: dev
    env_file: .env
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
      - node-modules:/app/node_modules
    depends_on:
      - mongo
    profiles: ["dev"]

  api-prod:
    build:
      context: .
      target: prod
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    profiles: ["prod"]

  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
  node-modules:
